.header {
  width: 100vw;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-link {
  color: white;
  font-weight: 600;
  white-space: nowrap;
}

.hamburger {
  color: white;
  margin-left: 25px;
}

.avatar-user {
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
